In [2]:
import pandas as pd
import numpy as np

In [3]:
s = pd.Series([1,2,3,4,5,6,np.nan,8,9,10])

In [4]:
s

0     1.0
1     2.0
2     3.0
3     4.0
4     5.0
5     6.0
6     NaN
7     8.0
8     9.0
9    10.0
dtype: float64

In [7]:
d = pd.date_range('20220314', periods=10)

In [8]:
d

DatetimeIndex(['2022-03-14', '2022-03-15', '2022-03-16', '2022-03-17',
               '2022-03-18', '2022-03-19', '2022-03-20', '2022-03-21',
               '2022-03-22', '2022-03-23'],
              dtype='datetime64[ns]', freq='D')

In [11]:
df = pd.DataFrame(np.random.randn(10,4), index=d,columns= ['A','B','C','D'])

In [13]:
df

                   A         B         C         D
2022-03-14 -0.458793 -0.116888 -2.895109  0.259330
2022-03-15  2.221935 -0.893501 -0.147629 -1.983710
2022-03-16 -0.534698  0.115747  0.478639  0.722487
2022-03-17 -1.557993 -0.660684  1.340126  0.169121
2022-03-18 -0.055725  0.579604  0.459982 -0.739440
2022-03-19  0.142361 -1.898651  1.248332  1.488416
2022-03-20 -0.596408  0.050808  0.885506 -1.111639
2022-03-21 -0.433666  1.250241  1.090538  0.203406
2022-03-22 -0.774408  2.024090 -0.598154  1.724011
2022-03-23 -0.358536 -0.002307 -0.122645  0.835545

In [16]:
df = pd.DataFrame({'A':[1,2,3,4],
                'B':pd.Timestamp('20220314'),
                  'C':pd.Series(1, index=list(range(4)), dtype='float32'),
                  'D':np.array([5]*4, dtype='int32'),
                    'E':pd.Categorical(['true','false','True','False'])})

In [17]:
df

   A          B    C  D      E
0  1 2022-03-14  1.0  5   true
1  2 2022-03-14  1.0  5  false
2  3 2022-03-14  1.0  5   True
3  4 2022-03-14  1.0  5  False

In [18]:
df.dtypes

A             int64
B    datetime64[ns]
C           float32
D             int32
E          category
dtype: object

In [19]:
df.head()

   A          B    C  D      E
0  1 2022-03-14  1.0  5   true
1  2 2022-03-14  1.0  5  false
2  3 2022-03-14  1.0  5   True
3  4 2022-03-14  1.0  5  False

In [20]:
df.tail()

   A          B    C  D      E
0  1 2022-03-14  1.0  5   true
1  2 2022-03-14  1.0  5  false
2  3 2022-03-14  1.0  5   True
3  4 2022-03-14  1.0  5  False

In [21]:
df.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [22]:
df.columns

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [24]:
df.to_numpy()

array([[1, Timestamp('2022-03-14 00:00:00'), 1.0, 5, 'true'],
       [2, Timestamp('2022-03-14 00:00:00'), 1.0, 5, 'false'],
       [3, Timestamp('2022-03-14 00:00:00'), 1.0, 5, 'True'],
       [4, Timestamp('2022-03-14 00:00:00'), 1.0, 5, 'False']],
      dtype=object)

In [25]:
df.describe()

              A    C    D
count  4.000000  4.0  4.0
mean   2.500000  1.0  5.0
std    1.290994  0.0  0.0
min    1.000000  1.0  5.0
25%    1.750000  1.0  5.0
50%    2.500000  1.0  5.0
75%    3.250000  1.0  5.0
max    4.000000  1.0  5.0

In [26]:
df['C']

0    1.0
1    1.0
2    1.0
3    1.0
Name: C, dtype: float32

In [27]:
df[0:4]

   A          B    C  D      E
0  1 2022-03-14  1.0  5   true
1  2 2022-03-14  1.0  5  false
2  3 2022-03-14  1.0  5   True
3  4 2022-03-14  1.0  5  False

In [29]:
df.loc[d[0]]

KeyError: Timestamp('2022-03-14 00:00:00', freq='D')

In [32]:
df.loc[:, ['B', 'C']]

           B    C
0 2022-03-14  1.0
1 2022-03-14  1.0
2 2022-03-14  1.0
3 2022-03-14  1.0

In [33]:
df2 = df.reindex(index=d[0:4], columns=list(df.columns) + ['E'])

In [34]:
df2.loc[d[0]:d[1], 'E']=1

ValueError: Cannot setitem on a Categorical with a new category, set the categories first